.fit-image {
    object-fit: cover;
}

main > img {
    z-index: -20;
}

main h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

main button.primary{
    margin-top: 3rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: rgba(0,0,0,0.85);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.nav-item.active a {
    font-weight: bold;
}

.bg-dark-own {
    background-color: #000000;
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-rows: unset;
    }

    main.p-5{
        padding: 1rem !important;
    }

    main h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    main h3 {
        margin-bottom: 3rem;
    }

    main button.primary {
        content:'CREA UNA PLAYLIST NUEVA'; 
    }

    #footer{
        position: absolute;
        bottom: 0;
        background-color: transparent;
        width: 100%;
        justify-content: center;
    }
}