footer, nav a{
    color: #000000
}

nav{
    border-bottom: 1px solid #C7C7CF;
}

p{
    color: #000000;
}

input{
    margin-bottom: 1rem;
}

label{
    color: #C7C7CF
}

main p{
    font-weight: bold;
}

button.primary{
    font-size: unset;
    padding: 8px 30px;
}

.main-container__form-text{
    width: 400px;
    border-radius: 30px;
}

.main-container__register{
    margin-top: 30px;
}

.main-container__form-buttoms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 400px;
    align-items: center;
}

.main-container__form-buttoms div *{
    margin: 0;
}

.main-container__form > a{
    color: #1ED760;
}

.main-container__register-bottoms{
    color: black;
    border-radius: 17px;
    border: solid;
    padding: 5px 40px;
}

.main-container__form-buttoms__login{
    background-color: #75df0c;
    color: white;
    border-radius: 15px;
    padding: 2px 20px;
}

.main-feet{
    border-top: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}