html, body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 7.2rem auto 7.2rem;
}

.color-gray-custom{
    color: #C7C7CF
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.nav-item.active a {
    font-weight: bold;
}

nav h2 {
    font-family: 'Righteous', cursive;
}

input {
    border:none;
    background-image:none;
    background-color: #FFFFFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button{
    cursor: pointer;
}

button.primary {
    border: 0;
    border-radius: 42px;
    padding: 12px;
    background-color: #1ED760;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Input */
input.primary {
    font-size: 1.2rem;
    padding: 12px 0px 12px 3rem;
    border-radius: 33px;
    border: 0;
}

input.primary::placeholder{
    color: #C7C7CF;
}

/* Input's Icon */
.has-search .form-control-feedback {
    padding-left: 1.2rem;
    padding-bottom: 2px;
    pointer-events: none;
    font-size: 1.2rem;
    color: #C7C7CF;
}


/* Register and login */
.main-container__form{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.primary.field{
    border: 1px solid #C7C7CF;
    padding-left: 1.5rem;
}

.main-container__login p{
    color: #000000;
    width: 400px;
    border-top: 1px solid #C7C7CF;
}

.main-container__login-bottoms{
    background-color: transparent;
    color: black;
    border-radius: 42px;
    border: 2px solid #000000;
    padding: 5px 40px;
}